.ToppingText{
    font-size: 40px;
    font-weight: 400;
    background: -webkit-linear-gradient(left,#12cb90,#076aac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
     
}
.pricing{
    color:black;
}
.FileCopyBtn{
    padding: 8px !important;
    margin: 8px !important;
    background: -webkit-linear-gradient(left,#12cb90,#076aac);
    -webkit-text-fill-color: transparent;
    float: left;
    padding: "10px";
    margin:"10px";
    background-color: "#fff";
    float: "left";

}