.css-yk16xz-control{
    border-radius: 30px !important;
    /* background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box !important;
  border-radius: 50em; */
    /* border: solid 2px !important; */
    /* -webkit-border-image: -webkit-gradeint(linear,to right ,from(#12cb90),to(#076aac)) repeat repeat!important ; */
    /* box-sizing: inherit;
    border-width: 2px !important;
    border-style: solid !important;
    border-image: linear-gradient(to right bottom, #260B3C, #a053df);
    border-image-slice: 1; */
}